body {
    font-family: 'Raleway', sans-serif;
}

.contenedor {
    page-break-after: always;
}

header {
    background-image: url(../img/mia.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    padding-bottom: 20rem;
}

.boton {
    page-break-after: always;
}

.carousel-indicators {
    top: 50px;
}

.carousel-indicators li {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}